{% extends 'base.html.twig' %}
{#{% form_theme edit_form.orderItems 'item_layout.html.twig' %}#}

{% form_theme edit_form _self %}
{% macro prototype(item) %}
    
        <tr>
            <td class="actions"></td>
            <td>{{ form_widget(item.productCode) }}</td>
            <td class="text-right">{{ form_widget(item.productQuantity) }}</td>
            <td>{{ form_widget(item.productDescription) }}</td>
            <td class="text-right">{{ form_widget(item.unitPrice) }}</td>
            <td class="text-right"><input type='text' disabled></td> 
        </tr>
    
{% endmacro %}

{% block body %}
    <h1>Purchaseorder edit</h1>
    {{ form_start(edit_form) }}
        <table id="appbundle_purchaseorder_orderItems" data-prototype="
                                                        {% filter escape %}
                                                            {{ include('item_layout.html.twig') }}
                                                        {% endfilter %}">
            
            {% for item in edit_form.orderItems %}
                
                    {{_self.prototype(item)}}
                
            {% endfor %}
            <table>
        
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

        <a href="#" class="btn btn-success" id="add-another-item">Agregar item</a>
    <ul>
        <li>
            <a href="{{ path('purchaseorder_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            
<script type="text/javascript">
    // realiza un seguimiento de cuántos campos de correo electrónico se han pintado
    var itemsCount = '{{ (edit_form.orderItems) | length }}';
    
    var collectionHolder = $('#appbundle_purchaseorder_orderItems');

    jQuery(document).ready(function() {
        
        jQuery('#add-another-item').click(function() {
            var itemList = jQuery('#appbundle_purchaseorder_orderItems');
            var newWidget = itemList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, itemsCount);
            newWidget = newWidget.replace('label__', '');
            
            jQuery('#appbundle_purchaseorder_orderItems').append(newWidget);
            addTagFormDeleteLink($('#appbundle_purchaseorder_orderItems_' + itemsCount));
            
            itemsCount++;
             return false;
        });

        for(var i=0;i<itemsCount;i++){
            addTagFormDeleteLink($('#appbundle_purchaseorder_orderItems_' + i));
        }
        
    });
    
    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<button class="btn btn-danger">Borrar</button>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // evita crear el enlace con una "#" en la URL
            e.preventDefault();

            // quita el li de la etiqueta del formulario
            $tagFormLi.remove();
        });
    }
</script>

{% endblock %}

