{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creditnote</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creditNote.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if creditNote.date %}{{ creditNote.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ creditNote.subtotal }}</td>
            </tr>
            <tr>
                <th>Discountamount</th>
                <td>{{ creditNote.discountAmount }}</td>
            </tr>
            <tr>
                <th>Shippingamount</th>
                <td>{{ creditNote.shippingAmount }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ creditNote.total }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('creditnote_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
