{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" id="items-and-amounts">
                    <div class="panel-heading">Nueva Nota de Débito</div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group {{ form.customer.vars.errors|length > 0 ? 'has-error' : '' }}">
                               <label class="col-sm-12" >Cliente</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.customer) }}
                                    {{ form_errors(form.customer) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group {{ form.date.vars.errors|length > 0 ? 'has-error' : '' }}">
                                <label class="col-sm-12" >Fecha</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.date) }}
                                    {{ form_errors(form.date) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group {{ form.salesPoint.vars.errors|length > 0 ? 'has-error' : '' }}">
                                <label class="col-sm-12" >Punto de venta</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.salesPoint) }}
                                    {{ form_errors(form.salesPoint) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group {{ form.salesCondition.vars.errors|length > 0 ? 'has-error' : '' }}">
                                <label class="col-sm-12" >Condición de venta</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.salesCondition) }}
                                    {{ form_errors(form.salesCondition) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Detalle de Nota de Débito</div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;" class="text-right"><strong>Concepto</strong></td>
                                            <td style="width: 200px; text-align: center; vertical-align: middle;" class="text-right"><strong>Total</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody:
                                                        
                                    </tbody>
                                    <tfoot>   
                                        <tr>
                                            <td class="highrow text-right {{ form.concept.vars.errors|length > 0 ? 'has-error' : '' }}">
                                                {{ form_widget(form.concept) }}
                                                {{ form_errors(form.concept) }}
                                            </td>
                                            <td class="highrow text-right {{ form.total.vars.errors|length > 0 ? 'has-error' : '' }}">
                                                {{ form_widget(form.total) }}
                                                {{ form_errors(form.total) }}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>      
                        
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-duplicate"></span> Generar Nota de Débito</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#discardOrder"><span class="glyphicon glyphicon-trash"></span> Descartar</button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="discardOrder" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Descartar Nota de Débito</h4>
            </div>
            <div class="modal-body">
              <p>¿Está seguro que desea descartar la Nota de Débito?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{ path('debitnote_index') }}"><span class="glyphicon glyphicon-trash"></span> Descartar Nota de Débito</a>
            </div>
          </div>

        </div>
    </div>
            
    
{% endblock %}