{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orderitems list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Productcode</th>
                <th>Productquantity</th>
                <th>Productdescription</th>
                <th>Unitprice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderItem in orderItems %}
            <tr>
                <td><a href="{{ path('orderitem_show', { 'id': orderItem.id }) }}">{{ orderItem.id }}</a></td>
                <td>{{ orderItem.productCode }}</td>
                <td>{{ orderItem.productQuantity }}</td>
                <td>{{ orderItem.productDescription }}</td>
                <td>{{ orderItem.unitPrice }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('orderitem_show', { 'id': orderItem.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orderitem_edit', { 'id': orderItem.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('orderitem_new') }}">Create a new orderItem</a>
        </li>
    </ul>
{% endblock %}
